<div class="content">
    <h1 class="header">Forgot Password</h1>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="login()">
        <div>
            <div class="submit-form">
                <div *ngIf="errorMessage" style="text-align: center">
                    <mat-error>
                        <strong class="error">Wrong Username</strong>
                    </mat-error>
                </div>
                <div class="form-child">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" placeholder="Enter Full Name..." formControlName="name" id="name"
                            name="name" />
                        <div
                            *ngIf="(forgotPasswordForm.controls['name']?.dirty || forgotPasswordForm.controls['name']?.touched) && forgotPasswordForm.controls['name'].invalid">
                            <mat-error *ngIf="forgotPasswordForm.controls['name']?.hasError('minlength')">
                                Name must have atleast 3 letters
                            </mat-error>
                            <mat-error *ngIf="forgotPasswordForm.controls['name']?.hasError('maxlength')">
                                Name cannot contain more than 256 letters
                            </mat-error>
                            <mat-error *ngIf="forgotPasswordForm.controls['name']?.hasError('required')">
                                Name is required
                            </mat-error>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-success" [disabled]="forgotPasswordForm.invalid">Submit</button>
        </div>
    </form>
</div>