<div class="header">
    <h1 class="header">Add New Student</h1>
    <button class="back" mat-raised-button color="accent" [routerLink]="['/students']"><i class="pi pi-arrow-left"> Back</i></button>
</div>
<form [formGroup]="addStudentForm" (ngSubmit)="createStudent()">
    <div>
        <div class="submit-form">
            <div class="form-child">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" placeholder="Enter Full Name..." formControlName="name" id="name" name="name" />
                    <div
                        *ngIf="(addStudentForm.controls['name']?.dirty || addStudentForm.controls['name']?.touched) && addStudentForm.controls['name'].invalid">
                        <mat-error *ngIf="addStudentForm.controls['name']?.hasError('minlength')">
                            Name must have atleast 3 letters
                        </mat-error>
                        <mat-error *ngIf="addStudentForm.controls['name']?.hasError('maxlength')">
                            Name cannot contain more than 256 letters
                        </mat-error>
                        <mat-error *ngIf="addStudentForm.controls['name']?.hasError('required')">
                            Name is required
                        </mat-error>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="text" numbersOnly placeholder="Enter ID..." formControlName="id" id="id" name="id" />
                    <div
                        *ngIf="(addStudentForm.controls['id']?.dirty || addStudentForm.controls['id']?.touched) && addStudentForm.controls['id'].invalid">
                        <mat-error *ngIf="addStudentForm.controls['id']?.hasError('minlength')">
                            ID must have atleast 6 digits
                        </mat-error>
                        <mat-error *ngIf="addStudentForm.controls['id']?.hasError('maxlength')">
                            ID cannot contain more than 6 digits
                        </mat-error>
                        <mat-error *ngIf="addStudentForm.controls['id']?.hasError('required')">
                            ID is required
                        </mat-error>
                    </div>
                </div>
                <div class="form-group">
                    <label for="department">Department</label>
                    <input type="text" placeholder="Enter Department..." formControlName="department" id="department"
                        name="department" />
                    <div
                        *ngIf="(addStudentForm.controls['department']?.dirty || addStudentForm.controls['department']?.touched) && addStudentForm.controls['department'].invalid">
                        <mat-error *ngIf="addStudentForm.controls['department']?.hasError('minlength')">
                            Department name must have atleast 2 characters
                        </mat-error>
                        <mat-error *ngIf="addStudentForm.controls['department']?.hasError('maxlength')">
                            Department name cannot contain more than 256 characters
                        </mat-error>
                        <mat-error *ngIf="addStudentForm.controls['department']?.hasError('required')">
                            Department is required
                        </mat-error>
                    </div>
                </div>
                <div class="form-group">
                    <label for="semester">Semester No.</label>
                    <input type="text" numbersOnly placeholder="Enter Semester No..." formControlName="semester"
                        id="semester" name="semester" />
                    <div
                        *ngIf="(addStudentForm.controls['semester']?.dirty || addStudentForm.controls['semester']?.touched) && addStudentForm.controls['semester'].invalid">
                        <mat-error *ngIf="addStudentForm.controls['semester']?.hasError('maxlength')">
                            Semester number cannot contain more than 2 digits
                        </mat-error>
                        <mat-error *ngIf="addStudentForm.controls['semester']?.hasError('required')">
                            Semester number is required
                        </mat-error>
                    </div>
                </div>
                <div class="form-group">
                    <label for="cgpa">Current CGPA</label>
                    <input type="number"  min="0" max="4" placeholder="Enter current CGPA..." formControlName="cgpa" id="cgpa"
                        name="cgpa" />
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile No.</label>
                    <input placeholder="Enter Mobile No..." formControlName="mobile" id="mobile" name="mobile" />
                    <div
                        *ngIf="(addStudentForm.controls['mobile']?.dirty || addStudentForm.controls['mobile']?.touched)">
                        <mat-error *ngIf="addStudentForm.controls['mobile']?.hasError('required')">
                            Mobile number is required
                        </mat-error>
                    </div>
                </div>
            </div>
            <div class="form-child">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Enter Email..." formControlName="email" id="email" name="email" />
                    <div
                        *ngIf="(addStudentForm.controls['email']?.dirty || addStudentForm.controls['email']?.touched) && addStudentForm.controls['email'].invalid">
                        <mat-error *ngIf="addStudentForm.controls['email']?.hasError('email')">
                            Please enter a valid email
                        </mat-error>
                        <mat-error *ngIf="addStudentForm.controls['email']?.hasError('required')">
                            Email is required
                        </mat-error>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <input type="date" max="2004-12-31" placeholder="Enter Date of Birth..." formControlName="dob"
                        id="dob" name="dob" />
                    <div *ngIf="addStudentForm.controls['dob']?.touched">
                        <mat-error *ngIf="addStudentForm.controls['dob']?.hasError('required')">
                            Date of birth is required
                        </mat-error>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select placeholder="Enter Gender..." formControlName="gender" id="gender">
                        name="gender">
                        <option>Male</option>
                        <option>Female</option>
                        <option>Others</option>
                    </select>
                    <div
                        *ngIf="(addStudentForm.controls['gender']?.dirty || addStudentForm.controls['gender']?.touched) && addStudentForm.controls['gender'].invalid">
                        <mat-error *ngIf="!!addStudentForm.controls['gender']?.hasError('required')">
                            Gender is required
                        </mat-error>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" placeholder="Enter Address..." formControlName="address" id="address"
                        name="address" />
                    <div
                        *ngIf="(addStudentForm.controls['address']?.dirty || addStudentForm.controls['address']?.touched) && addStudentForm.controls['address'].invalid">
                        <mat-error *ngIf="addStudentForm.controls['address']?.hasError('maxlength')">
                            Address cannot contain more than 256 characters
                        </mat-error>
                        <mat-error *ngIf="addStudentForm.controls['address']?.hasError('required')">
                            Address is required
                        </mat-error>
                    </div>
                </div>
                <div class="form-group">
                    <label for="father_name">Father's Name</label>
                    <input type="text" placeholder="Enter Father's Name..." formControlName="fatherName"
                        id="father_name" name="father_name" />
                    <div
                        *ngIf="(addStudentForm.controls['fatherName']?.dirty || addStudentForm.controls['fatherName']?.touched) && addStudentForm.controls['fatherName'].invalid">
                        <mat-error *ngIf="addStudentForm.controls['fatherName']?.hasError('minlength')">
                            Father's name must have atleast 3 letters
                        </mat-error>
                        <mat-error *ngIf="addStudentForm.controls['fatherName']?.hasError('maxlength')">
                            Father's name cannot contain more than 256 letters
                        </mat-error>
                        <mat-error *ngIf="addStudentForm.controls['fatherName']?.hasError('required')">
                            Father's name is required
                        </mat-error>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mother_name">Mother's Name</label>
                    <input type="text" placeholder="Enter Mother's Name..." formControlName="motherName"
                        id="mother_name" name="mother_name" />
                    <div
                        *ngIf="(addStudentForm.controls['motherName']?.dirty || addStudentForm.controls['motherName']?.touched) && addStudentForm.controls['motherName'].invalid">
                        <mat-error *ngIf="addStudentForm.controls['motherName']?.hasError('minlength')">
                            Mother's name must have atleast 3 letters
                        </mat-error>
                        <mat-error *ngIf="addStudentForm.controls['motherName']?.hasError('maxlength')">
                            Mother's name cannot contain more than 256 letters
                        </mat-error>
                        <mat-error *ngIf="addStudentForm.controls['motherName']?.hasError('required')">
                            Mother's name is required
                        </mat-error>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-success" [disabled]="addStudentForm.invalid">Submit</button>
    </div>
</form>