.header {
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
  }
  
  .id {
    color: grey;
    font-size: 18px;
  }